body {
    margin: 0;
    padding: 0p;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #555555;
    background-color: #ffffff;
}

PRE.syntaxHighlighting {
    font-family: monospace;
}

pre.code {
    background-color: #F9F9F9;
    border: 1px dashed #CCCCCC;
    color: navy;
    display: block;
    padding: 8px;
}

#nav {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 280px;
    overflow-y: auto;
    overflow-x: auto;
    background-color: #EEE;
    border-right: 1px solid silver;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 15px;
}

#main {
    margin-left: 280px;
}

#mainContent {
    padding-left: 10px;
}

#footer {
    padding-left: 300px;
    padding-top: 10px;
    padding-right: 10px;
    margin-top: 10px;
    background-color: #F8F8F8;
    height: 1200px;
    text-align: right;
}
.header {
    background-color: #50A8DC;
    background-image: -moz-linear-gradient(center top , #61B0DF, #369BD7);
    background-repeat: repeat-x;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    min-height: 40px;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.header > H1 {
    margin: 0;  
    font-size: 20px;
}

.header > H1 > A {
    text-decoration: none;
    color: white;
}

.header > H1 > A > .title {
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 4px #000000;
}

.header > H1 > .version {
    font-size: 16px;
    margin-left: 5px;
}

.header > H1 > .powered-by {
    float: right;
    font-size: 16px;
    line-height: 40px;
    margin-right: 15px;
    vertical-align: middle;
    color: #F5F5F5;
}

.powered-by A {
    color: #033C73;
    text-decoration: none;
}
.powered-by a:hover {
    color: #2071A1;
    text-decoration: underline;
}

.properties > H2 {
    background-color: #007DDD;
    border: 1px solid #7F8FB1;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    font-size: 130%;
    margin: 0 0 8px;
    padding: 2px 6px;
    text-align: left;
}

.options {
    margin-bottom: 5px;
    text-align: right;
}

.expand-collapse-bar {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #F2F6FF 100%) repeat scroll 0 0 transparent;
    cursor: pointer;
    padding: 2px;
}
.expand-collapse-icon {
    background-image: url(expand-icon.png);
    height: 16px;
    margin: auto;
    width: 16px;
}
BUTTON > .expand-collapse-icon {
    float: left;
    margin: 0 4px 0 0;
}
.expanded .expand-collapse-icon, .expand-collapse-icon.expanded {
    background-image: url(collapse-icon.png);
}

H3 {
    color: Navy;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 8px;
}

.more {
    display: none;
}

.type-ref .type-name {
    color: Blue;
    font-weight: normal;
}
#navTree LI.active > A {
    background-color: #50A8DC;
}

#navTree LI.object > A > INS {
    background-image: url(object_e9c0cbc3.png);
    background-position: 0 0;
}

#navTree LI.package > A > INS {
    background-image: url(package_aaa6b1e3.png);
    background-position: 0 0;
}

#navTree LI.raptor-module > A > INS, #navTree LI.module > A > INS {
    background-image: url(module_32a11932.png);
    background-position: 0 0;
}

#navTree LI.raptor-class > A > INS, #navTree LI.class > A > INS {
    background-image: url(class_10005711.gif);
    background-position: 0 0;
}

#navTree LI.raptor-mixin > A > INS, #navTree LI.mixin > A > INS {
    background-image: url(mixin_f6dafe2d.png);
    background-position: 0 0;
}

#navTree LI.global > A > INS {
    background-image: url(global_fded976b.png);
    background-position: 0 0;
}

#navTree LI > UL > LI.extension > A > INS {
    background-image: url(extension_7fd5328c.png) !important;
    background-position: 0 0;
}

#search-form > .body > INPUT {
    width: 90%;
}

/* Autocomplete formatting */
.ac-icon {
    display: block;
    float: left;
    height: 16px;
    margin-right: 10px;
    width: 16px;
}
.ac-icon-module, .ac-icon-raptor-module {
    background-image: url(module_32a11932.png);
}
.ac-icon-class, .ac-icon-raptor-class {
    background-image: url(class_10005711.gif);
}
.ac-icon-extension {
    background-image: url(extension_7fd5328c.png);
}
.ac-icon-mixin {
    background-image: url(mixin_f6dafe2d.png);
}
.ac-icon-function {
    background-image: url(function_ebbbf5b9.png);
}

.ac-icon-property {
    background-image: url(property_82878662.png);
}

.ac-icon-object {
    background-image: url(object_e9c0cbc3.png);
}


.description H1 {
    background-color: #F0F0F0;
    border-bottom: 1px solid Black;
    font-size: 15px;
    font-weight: bold;
    padding: 3px;
}

.properties > H2 {
    background-color: #007DDD;
    border: 1px solid #7F8FB1;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    font-size: 130%;
    padding: 2px 6px;
    text-align: left;
    margin-bottom: 10px;
}

.description H2 {
    font-size: 13px;
    font-weight: bold;
}

.options {
    margin-bottom: 5px;
    text-align: right;
}

.expand-collapse-bar {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,246,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,246,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,246,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,246,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,246,255,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,246,255,1) 100%); /* W3C */
    cursor: pointer;
    padding: 2px;
}
.expand-collapse-icon {
    background-image: url(expand-icon_9f8de69c.png);
    height: 16px;
    margin: auto;
    width: 16px;
}
BUTTON > .expand-collapse-icon {
    float: left;
    margin: 0 4px 0 0;
}
.expanded .expand-collapse-icon, .expand-collapse-icon.expanded {
    background-image: url(collapse-icon_7ca47097.png);
}

H3 {
    color: #317EAC;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 8px;
}

.properties {
    margin-top: 10px;
}

.properties:first-child {
    margin-top: 0px;
}

.properties > .property {
    border-bottom: 1px solid #317EAC;
    position: relative;
    clear: both;
}

.properties > .property > H3 > .name {
    color: #660000;
}

.properties > .property.property-deprecated > H3 > .name {
    color: #C0C0C0;
}


/*.properties > .property:last-child {
    border-bottom: 0;
}
*/

.property > .desc {
    padding-bottom: 14px;
}

.more {
    display: none;
}

.more > .padding {
    padding-top: 0px;
}

.modifiers {
    display: inline-block;
    float: right;
    margin-left: 10px;
    
}
.modifier {
    background-color: #FFFFCC;
    border: 1px solid #000000;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    position: relative;
    top: -6px;
}
.modifiers > .modifier-deprecated {
    background-color: #FFF7F7;
    border: 1px solid #C40000;
}
.modifiers > .modifier-private, .modifiers > .modifier-protected {
    background-color: #FFDA91;
    border: 1px solid #750000;
    color: #750000;
}

.property-link {
    margin-left: 5px;
    margin-right: 5px;
}

.property-link > I {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(link_f519f050.png);
}

.mixin-icon {
    margin-right: 5px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(mixin_7fd5328c.png);
}

.defined-in {
    float: right;
    font-size: 14px;
    font-weight: normal;
    margin-right: 5px;
}

.section > H4 {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 2px;
    font-size: 13px;
    font-weight: bold;
}

.sections {
    padding-left: 5px;
}

.section > .bd > UL {
    margin: 0 0 0 10px;
    padding: 2px 0 10px;
}

LI.param {
    padding-bottom: 3px;
}
.type-ref .type-name {
    color: Blue;
    font-weight: normal;
}
pre.sh_sourceCode {
  background-color: white;
  color: black;
  font-style: normal;
  font-weight: normal;
}

pre.sh_sourceCode .sh_keyword { color: blue; font-weight: bold; }           /* language keywords */
pre.sh_sourceCode .sh_type { color: darkgreen; }                            /* basic types */
pre.sh_sourceCode .sh_usertype { color: teal; }                             /* user defined types */
pre.sh_sourceCode .sh_string { color: red; font-family: monospace; }        /* strings and chars */
pre.sh_sourceCode .sh_regexp { color: orange; font-family: monospace; }     /* regular expressions */
pre.sh_sourceCode .sh_specialchar { color: pink; font-family: monospace; }  /* e.g., \n, \t, \\ */
pre.sh_sourceCode .sh_comment { color: brown; font-style: italic; }         /* comments */
pre.sh_sourceCode .sh_number { color: purple; }                             /* literal numbers */
pre.sh_sourceCode .sh_preproc { color: darkblue; font-weight: bold; }       /* e.g., #include, import */
pre.sh_sourceCode .sh_symbol { color: darkred; }                            /* e.g., <, >, + */
pre.sh_sourceCode .sh_function { color: black; font-weight: bold; }         /* function calls and declarations */
pre.sh_sourceCode .sh_cbracket { color: red; }                              /* block brackets (e.g., {, }) */
pre.sh_sourceCode .sh_todo { font-weight: bold; background-color: cyan; }   /* TODO and FIXME */

/* Predefined variables and functions (for instance glsl) */
pre.sh_sourceCode .sh_predef_var { color: darkblue; }
pre.sh_sourceCode .sh_predef_func { color: darkblue; font-weight: bold; }

/* for OOP */
pre.sh_sourceCode .sh_classname { color: teal; }

/* line numbers (not yet implemented) */
pre.sh_sourceCode .sh_linenum { color: black; font-family: monospace; }

/* Internet related */
pre.sh_sourceCode .sh_url { color: blue; text-decoration: underline; font-family: monospace; }

/* for ChangeLog and Log files */
pre.sh_sourceCode .sh_date { color: blue; font-weight: bold; }
pre.sh_sourceCode .sh_time, pre.sh_sourceCode .sh_file { color: darkblue; font-weight: bold; }
pre.sh_sourceCode .sh_ip, pre.sh_sourceCode .sh_name { color: darkgreen; }

/* for Prolog, Perl... */
pre.sh_sourceCode .sh_variable { color: darkgreen; }

/* for LaTeX */
pre.sh_sourceCode .sh_italics { color: darkgreen; font-style: italic; }
pre.sh_sourceCode .sh_bold { color: darkgreen; font-weight: bold; }
pre.sh_sourceCode .sh_underline { color: darkgreen; text-decoration: underline; }
pre.sh_sourceCode .sh_fixed { color: green; font-family: monospace; }
pre.sh_sourceCode .sh_argument { color: darkgreen; }
pre.sh_sourceCode .sh_optionalargument { color: purple; }
pre.sh_sourceCode .sh_math { color: orange; }
pre.sh_sourceCode .sh_bibtex { color: blue; }

/* for diffs */
pre.sh_sourceCode .sh_oldfile { color: orange; }
pre.sh_sourceCode .sh_newfile { color: darkgreen; }
pre.sh_sourceCode .sh_difflines { color: blue; }

/* for css */
pre.sh_sourceCode .sh_selector { color: purple; }
pre.sh_sourceCode .sh_property { color: blue; }
pre.sh_sourceCode .sh_value { color: darkgreen; font-style: italic; }

/* other */
pre.sh_sourceCode .sh_section { color: black; font-weight: bold; }
pre.sh_sourceCode .sh_paren { color: red; }
pre.sh_sourceCode .sh_attribute { color: darkgreen; }